.container_tags{
    display: flex;
    gap: 10px;
}

.tag{
    padding: 10px;
    background-color: #FF6060;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

/* Media Queries Mobile */

@media (max-width: 767px) {
    .tag{
        border-radius: 5px;
        font-size: 13px;
        line-height: 14px;
    }
    
}