
.container_cards {
  background: #F7F7F7;
  border-radius: 25px;
  max-width: 1240px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-top: 50px;
}
  
.card {
  position: relative;
  height: 340px;
  width: 340px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0 10px 50px 10px;
}

.card_overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}
  
.card h2 {
  position: absolute;
  width: 50%;
  bottom: 0px;
  left: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 13px -2px #000000
}

/* Media Queries Mobile */

@media (max-width: 767px) {
  .container_cards {
    background: none;
    margin: auto;
    padding-top: 0;
  
  }
  .card {
    width: 100%;
    max-width: 400px;
    height: 230px;
    margin: 20px 0;
  }
  
}
