    /* Header */
header{
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

    /* Logo */
.logo{
    height: 68px; 
    width: 210px;
}

    /* Nav */
nav ul{
    display: flex;
    width: 300px;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

    /* Accueil */
.header_nav .home a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}

    /* A Propos */
.header_nav .about a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}
  
    /* Souligne le lien actif et le lien survolé */
.header_nav .home a.active,
.header_nav .about a.active,
.header_nav .home a:hover,
.header_nav .about a:hover {
    text-decoration: underline;
  }