    /* Header */
header{
    max-width: 1240px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

    /* Logo */
.logo{
    height: 68px; 
    width: 210px;
}

    /* Nav */
nav ul{
    display: flex;
    width: 270px;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

    /* Accueil */
.header_nav .home a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}

    /* A Propos */
.header_nav .about a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}
  
    /* Souligne le lien actif et le lien survolé */
.header_nav .home a.active,
.header_nav .about a.active,
.header_nav .home a:hover,
.header_nav .about a:hover {
    text-decoration: underline;
}

/* Media queries */

@media screen and (max-width: 767px) {

    .logo{
        height: 40px;
        width: 125px;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }

    nav ul{
        width: 140px;
    }
    
    .header_nav .home a{
        font-size: 15px;
    }    

    .header_nav .about a{
        font-size: 15px;
    }

    header{
        margin: 15px auto;
    }

}